/*
 * @Author: guangwei.bao 
 * @Date: 2018-12-01 14:26:44 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-12-01 15:34:15
 * @Describe: 无
 */


#yixiu {
	display: flex;
	flex-direction: column;
}

#yixiu img {
    width: 100%;
    box-shadow: -5px 5px #f5f5f5;
}
#yixiu h4 span{
    text-decoration: underline;
    
}
